.Menu {
  padding-left: 5px;
}

.Menu-List {
  line-height: 60px;
  margin: 0;
  text-align: left;
}

.Menu-ListItem {
  padding-left: 20px;
}

.Menu-ListItemSpan {
  position: relative;
  bottom: 5px;
}
