.Header {
  display: flex;
  padding-top: 44px;
  padding-left: 20px;
  padding-bottom: 15px;
  gap: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.Header-Text {
    /* border: none;
    background: none; */
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.Header-Image {
  cursor: pointer;
}
