.Avatar {
  position: relative;
}

.Avatar-ImageContainer {
  text-align: center;
}

.Avatar-ImageContainer-Image {
  margin: 30px auto 10px;
}

.Avatar-ImageContainer-EditButton {
  position: absolute;

  width: 40px;
  height: 42px;

  background: none;
  background-image: url('../../img/edit.svg');
  border: none;

  top: 135px;
  margin-left: -30px;
  padding: 0;
  cursor: pointer;
}

.Avatar-Name {
  color: #505050;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.Avatar-Bio {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  width: 60%;
  margin: 0 auto;
}
