.Avatar {
  position: relative;
}

.Avatar-Container {
  text-align: center;
}

.Avatar-Image {
  margin: 30px auto 10px;
}

.Avatar-Button-Edit {
  position: absolute;

  width: 40px;
  height: 42px;

  background: none;
  background-image: url('../../img/edit.svg');
  border: none;

  top: 135px;
  margin-left: -30px;
  padding: 0;
  cursor: pointer;
}

.Avatar-Name {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
  color: #505050;
}

.Avatar-Bio {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}
